// Colores principales
$color-primary: #5638F5;
$color-primary-hover: #4528D8;
$color-primary-active: #351FB0;

$color-text: #11194D;
$color-text-secondary: #4F5875;

$color-white: #FFFFFF;
$color-background: #F7F7FF;
$color-background-light: #F4F4FF;

$color-border: #E8E8F5;

$color-purple-light: #EAE6FF;
$color-purple-soft: #EDE9FF;
$color-purple-hover: #F0EDFF;
$color-purple-dark: #3F35A8;
$color-purple-medium: #A99BFF;

$color-dark: #17142F;
$color-dark-purple: #21164A;
$color-dark-hover: #2A2648;
$color-light-text: #E2E0EF;
$color-purple-active: #E3DDFF;

// Tipografía
$font-primary: "Plus Jakarta Sans", sans-serif;
$font-script: "Segoe Script", "Brush Script MT", cursive;